/* body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #3c4766; /* màu đen xanh */
/* color: #fff;
  height: 100cqb; /* toàn màn hình */
/* display: flex; */
/* flex-direction: column; */
/* } */
html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #0b1329; /* màu nền đồng nhất toàn trang */
  /* color: #fff; */
  min-height: 100%; /* body sẽ luôn ít nhất bằng chiều cao viewport */
}

body {
  display: flex;
  flex-direction: column;
}

header {
  position: fixed; /* dính header khi scroll */
  top: 0; /* nằm trên cùng */
  left: 0;
  width: 100%; /* full chiều ngang */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: linear-gradient(to right, #0f172a, #0e7490);
  z-index: 1000; /* nằm trên các phần khác */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4); /* đổ bóng nhẹ */
}

/* thêm padding cho body để tránh bị header che */
body {
  display: flex;
  flex-direction: column;
  padding-top: 80px; /* bằng chiều cao header */
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  width: 35px;
  height: 35px;
}
nav a {
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #f8fafc;
}
nav a:hover {
  color: #215e78;
}
main {
  flex: 1;
  display: flex;
  justify-content: center; /* căn giữa ngang */
  align-items: center; /* căn giữa dọc */
  min-height: 100vh; /* chiếm đủ 100% chiều cao màn hình */
  margin: 0; /* bỏ margin-top */
}

.center-text {
  font-size: 40px;
  font-weight: bold;
  color: #38bdf8; /* màu xanh nổi bật */
}
#giohang {
  margin-left: 260px;
}
